body {
  background-color: #282c34;
}

p {
  font-family: Courier;
  font-size: large;
}

.App {
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #282c34;
}

.App-header {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  flex-wrap: wrap; 
}

.image {
  width: 23%; 
  height: auto;
  background-color: #282c34;
}

